<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.fbf.dao.TUserReportCountMapper">
	<resultMap id="BaseResultMap" type="com.newtouch.fbf.entity.TUserReportCount">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, id_card, count, last_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.newtouch.fbf.entity.TUserReportCountExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_user_report_count
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user_report_count
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_user_report_count
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.newtouch.fbf.entity.TUserReportCountExample">
		delete from t_user_report_count
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.newtouch.fbf.entity.TUserReportCount">
		insert into t_user_report_count (id, id_card, count,
		last_time)
		values (#{id,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
		#{count,jdbcType=INTEGER},
		#{lastTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.newtouch.fbf.entity.TUserReportCount">
		insert into t_user_report_count
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="lastTime != null">
				last_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.newtouch.fbf.entity.TUserReportCountExample"
		resultType="java.lang.Integer">
		select count(*) from t_user_report_count
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_user_report_count
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.idCard != null">
				id_card = #{record.idCard,jdbcType=VARCHAR},
			</if>
			<if test="record.count != null">
				count = #{record.count,jdbcType=INTEGER},
			</if>
			<if test="record.lastTime != null">
				last_time = #{record.lastTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_user_report_count
		set id = #{record.id,jdbcType=VARCHAR},
		id_card = #{record.idCard,jdbcType=VARCHAR},
		count = #{record.count,jdbcType=INTEGER},
		last_time = #{record.lastTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.newtouch.fbf.entity.TUserReportCount">
		update t_user_report_count
		<set>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			<if test="lastTime != null">
				last_time = #{lastTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.newtouch.fbf.entity.TUserReportCount">
		update t_user_report_count
		set id_card = #{idCard,jdbcType=VARCHAR},
		count = #{count,jdbcType=INTEGER},
		last_time = #{lastTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByIdCard" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user_report_count
		where id_card = #{id_card,jdbcType=VARCHAR}
	</select>

	<select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.String">
		select * from t_user_report_count order by last_time desc
	</select>



	<update id="updateByIdCard" parameterType="com.newtouch.fbf.entity.TUserReportCount">
		update t_user_report_count
		<set>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			<if test="lastTime != null">
				last_time = #{lastTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id_card = #{idCard,jdbcType=VARCHAR}
	</update>

	<!-- 根据身份证号模糊查询 -->
	<!-- <select id="selectByIdCardLike" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user_report_count
		where id_card like CONCAT('%',#{id_card,jdbcType=VARCHAR},'%')
		order by last_time desc
	</select> -->
	<select id="selectByIdCardLike" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user_report_count
		where id_card = #{idCard,jdbcType=VARCHAR}
		order by last_time desc
	</select>
	
</mapper>