<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.fbf.dao.TUserReportMapper" >
  <resultMap id="BaseResultMap" type="com.newtouch.fbf.entity.TUserReport" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="business_type" property="businessType" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="report_code" property="reportCode" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="suggestion" property="suggestion" jdbcType="VARCHAR" />
    <result column="loan_phase" property="loanPhase" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="submitter" property="submitter" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="borrow_type" property="borrowType" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, business_type, name, id_card, publish_time, report_code, mark, suggestion, loan_phase, 
    product_name, check_time, create_time, update_time, create_user, update_user, submitter, 
    submit_time, age, mobile, sex, borrow_type, is_active
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.newtouch.fbf.entity.TUserReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_report
    where id = #{id,jdbcType=CHAR}
  </select>
  
  
  
  <!-- 根据身份证号查找报告 -->
  <select id="selectByIdCard" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_user_report  where id_card = #{idCard,jdbcType=VARCHAR} order by check_time desc
  </select>
  
   <!-- 根据报告编码查找报告 -->
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_user_report  where report_code = #{reportCode,jdbcType=VARCHAR}
  </select>
  
   <!-- 根据id_card查找报告列表 -->
  <select id="selectAllList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_user_report 
    where id_card= #{idCard,jdbcType=VARCHAR}
    order by check_time desc
  </select>
  
   <!-- 查找所有的报告列表 -->
  <select id="selectAllListwei" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_user_report 
    where 1=1 order by update_time desc
  </select>
  
  <!-- 根据贷款阶段和产品名称查找报告 -->
  <select id="selectByLoanPhaseAndProductName" resultMap="BaseResultMap" parameterType="com.newtouch.fbf.entity.TUserReport">
  	select 
    <include refid="Base_Column_List" />
    from t_user_report
    <where> 1=1 
      <if test="loanPhase != null">
      	and loan_phase=#{loanPhase,jdbcType=VARCHAR}   	
      </if>
      <if test="productName != null">
        and product_name =#{productName,jdbcType=VARCHAR}
      </if>
       order by check_time desc
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user_report
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.newtouch.fbf.entity.TUserReportExample" >
    delete from t_user_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newtouch.fbf.entity.TUserReport" >
    insert into t_user_report (id, business_type, name, 
      id_card, publish_time, report_code, 
      mark, suggestion, loan_phase, 
      product_name, check_time, create_time, 
      update_time, create_user, update_user, 
      submitter, submit_time, age, 
      mobile, sex, borrow_type, 
      is_active)
    values (#{id,jdbcType=CHAR}, #{businessType,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{reportCode,jdbcType=VARCHAR}, 
      #{mark,jdbcType=INTEGER}, #{suggestion,jdbcType=VARCHAR}, #{loanPhase,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{submitter,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, #{age,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{borrowType,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.newtouch.fbf.entity.TUserReport" >
    insert into t_user_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="reportCode != null" >
        report_code,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="suggestion != null" >
        suggestion,
      </if>
      <if test="loanPhase != null" >
        loan_phase,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="submitter != null" >
        submitter,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="borrowType != null" >
        borrow_type,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportCode != null" >
        #{reportCode,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="suggestion != null" >
        #{suggestion,jdbcType=VARCHAR},
      </if>
      <if test="loanPhase != null" >
        #{loanPhase,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="submitter != null" >
        #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null" >
        #{borrowType,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newtouch.fbf.entity.TUserReportExample" resultType="java.lang.Integer" >
    select count(*) from t_user_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_report
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportCode != null" >
        report_code = #{record.reportCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mark != null" >
        mark = #{record.mark,jdbcType=INTEGER},
      </if>
      <if test="record.suggestion != null" >
        suggestion = #{record.suggestion,jdbcType=VARCHAR},
      </if>
      <if test="record.loanPhase != null" >
        loan_phase = #{record.loanPhase,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.submitter != null" >
        submitter = #{record.submitter,jdbcType=VARCHAR},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowType != null" >
        borrow_type = #{record.borrowType,jdbcType=VARCHAR},
      </if>
      <if test="record.isActive != null" >
        is_active = #{record.isActive,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_report
    set id = #{record.id,jdbcType=CHAR},
      business_type = #{record.businessType,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      report_code = #{record.reportCode,jdbcType=VARCHAR},
      mark = #{record.mark,jdbcType=INTEGER},
      suggestion = #{record.suggestion,jdbcType=VARCHAR},
      loan_phase = #{record.loanPhase,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      submitter = #{record.submitter,jdbcType=VARCHAR},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      age = #{record.age,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      borrow_type = #{record.borrowType,jdbcType=VARCHAR},
      is_active = #{record.isActive,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newtouch.fbf.entity.TUserReport" >
    update t_user_report
    <set >
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportCode != null" >
        report_code = #{reportCode,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="suggestion != null" >
        suggestion = #{suggestion,jdbcType=VARCHAR},
      </if>
      <if test="loanPhase != null" >
        loan_phase = #{loanPhase,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="submitter != null" >
        submitter = #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null" >
        borrow_type = #{borrowType,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newtouch.fbf.entity.TUserReport" >
    update t_user_report
    set business_type = #{businessType,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      report_code = #{reportCode,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=INTEGER},
      suggestion = #{suggestion,jdbcType=VARCHAR},
      loan_phase = #{loanPhase,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      submitter = #{submitter,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      age = #{age,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      borrow_type = #{borrowType,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=BIT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>